
body {
    background-color: black;
    color: #39ff14;
    font-family: "Press Start 2P", system-ui;
    font-size: smaller;
}

#value {
    display: none;
}

#phrase {
    display: none;
}

#btn-section {
    display: none;
} 

#chooseValue {
    display: none;
}
    

#fromUnitlength {
    display: none;
}
 
#toUnitlength {
    display: none;
}

#fromUnit {
    display: none;
}

#fromUnitcapacity {
    display: none;
}

#toUnitcapacity {
    display: none;
}

#fromUnitmass {
    display: none;
}

#toUnitmass {
    display: none;
}

#fromUnittemperature {
    display: none;
}

#toUnittemperature {
    display: none;
}

#loading {
    display: none;
}

h1 {
    color: #39ff14;
}

label, #result {
    color: #39ff14;
}

input, select {
    background-color: #333;
    color: white;
    border: 1px solid #39ff14;
    border-radius: 5px;
    padding: 5px;
}

.form-select {
    background-color: #333;
    color: white;
    border: 1px solid #39ff14;
    border-radius: 5px;
    padding: 5px;
}

.btn {
    background-color: #39ff14;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out;
}

.loading-spinner {
    border: 4px solid #39ff14;
    border-top: 4px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-top: 10px;
    position: absolute;
    top: 45%; 
    left: 50%;
    right: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button:active {
    box-shadow: 0 0 15px rgb(39, 255, 6); 
    transform: perspective(1000px) rotateY(180deg);
} 
